@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500&display=swap');



* html{
	font-size: 62.5%;
	margin: auto;
	padding: auto;
	box-sizing: border-box;
}

body	{
	color: black; 
	font-family: 'Montserrat', sans-serif;

}

nav ul {
	display: inline-block;

	}

nav ul li{

	list-style: none;
	display: inline-block;
	margin: 5px;

	
}

a{
	color: black;
	text-decoration: none;
}

a: hover{
	text-decoration: overline;
}


h1{
	font-weight: 500;
	font-size: 2.3rem;

}


nav {

	text-align:right;

}

h2{
	font-weight: 500;
	font-size: 1.6rem;
	text-align: center;

}



h3{
	font-size: 1rem;
	font-weight: 500;
}

p{
	font-size: 1rem;
	font-weight: 400;

}

section figure {
	display: inline-block;
	list-style: none;
padding: 30px;
} 



footer{
	background-color: black;
	color: white;
	/*padding-left: 200px;
	padding-right: 200px;*/
	padding: 30px;
}


main{
	background-image: url(../imagenes/mujer.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
	margin: auto;

	
	
}


footer img{
	width: 50px;

}

section ul li, a{
		text-decoration: underline;
		display: inline-block;
		text-align: right;
		

}




.parrafoNovedades {
	text-align: justify;
	padding: 10px;
}



.titNovedades{
padding: 50px;

}


/*estilo de areas de practica, familia y sucesiones, imagen de profesionales y form de contacto*/


#areadefamilia{
	padding:70px;
}

.familiaCentrado{
	text-align: justify;
	text-decoration: none;

}

.formconsulta{
	padding: 100px;
	margin: auto;

}

iframe{
	width: 100%;
}

.fotoDeAbogada{
	width:  180px;
}

/*Aplico grid*/

.mainDiv {
	width:99%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-template-areas: "header" 
	"nav" 
	"main" "section-de-practica" "section-profesionales""aside""footer" ;
	display: flex;
	flex-direction: column;
	

}

#header{
	grid-area: header;
}

#nav{
	grid-area: nav;
}

#main{
	grid-area: main;
}



#section-de-practica{
	grid-area: section-de-practica;
}



#aside{
	grid-area: aside;
}


#footer{
	grid-area: footer;
}



#section-de-practica {
	display: flex;
	flex-wrap: wrap;	 
	flex-direction: row;
	justify-content: space-around;
	
}




#aside ul {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 30px;
	margin: auto;
}


/*.sectionProfesionales ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
  */

/*.sectionProfesionales ul li a h3{
	padding: 50px;

}*/

/*aplico grid en el htmml de "profesionales"*/

.mainDivProfesionales{
	width: 99%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-template-areas: "header" "nav" "sectionDescripcionProf" "footer";
	display: flex;
	flex-direction: column;


 }



 #header{
 	grid-area: header;
 }

 #nav{
 	grid-area: nav;
 }

#section{
	grid-area: sectionDescripcionProf;
}

#footer{
	grid-area: footer;
}


.abogadas{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
 
/* media queries*/

/*vista mobile del index*/

@media only screen and (max-width: 600px) {
	.mainDiv{

		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-template-areas: "header" "nav" "section-de-practica" "section-profesionales" "footer";
		

	}

	aside, main {
		display: none;
	}


	#nav {
		display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}

	/* #sectionProfesionales  li {


	 	text-align: center;
	 	list-style-type: none;


	}*/

	footer{
		text-align: center;
	}

/*vista mobile del html"profesionales" */

.mainDivProfesionales{

		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		grid-template-areas: "header" "nav" "section-profesionales" "footer";
		display: flex;
		flex-direction: column;

	}

#nav {
		display: flex;
	flex-direction: row;
	justify-content: flex-end;
	}


	.abogadas{
	display: flex;
		flex-direction: column;
		text-align: justify;

}
 
 h1{
 	text-align: left;
 }

}

/*vista desktop del html "index"  y "profesionales" */

@media only screen and (min-width: 1024px) {
	.mainDiv{ 
	width:99%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: auto;
	grid-template-areas: "header" 
	"nav" 
	"main" "section-de-practica" "section-profesionales""aside""footer" ;
	display: flex;
	flex-direction: column;
	
	}

/* #sectionProfesionales ul {

		display: flex;
	flex-direction: column;
	
	text-align: center;
	list-style-type: none;

}*/

footer{
	text-align: center;
}
}






