main{
	background-image: url(../imagenes/mujer.jpg);
	font-family: fontMain;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px;
	margin: auto;
	
		h2{
		font-weight: 500;
		font-size: 1.6rem;
		text-align: center;
		


}

}


